<ion-modal-view ng-controller="LoginSignupCtrl" drag-content="false">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login(user, false)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Login</button>
        </label>
      </div>
    </form>
    <label class="item">
        <button class="button button-block button-calm" ng-click="loginWithFacebook()">Login with Facebook</button>
    </label>
  </ion-content>
</ion-modal-view>
